html{
    font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
div.advertise-background {
    background-color: #444444;
    height: 40px;
    text-align: right;
}

div.advertise {
    font-size: 12px;
    color: #868688;
    line-height: 35px;
    margin-right: 20%;
}

div.hd-background-parent {
    /*background-color: rgba();*/
    background-color: #333;
}
ul.hd-background {
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: 50px;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    overflow: auto;
    width: fit-content;
}

li.link-name {
    /*float: left;*/
    display: inline-block;
    padding: 14px;
}

li.link-name a {
    color: #bdbdbd;
    font-size: 12px;
    text-decoration: none;
}
.tips{
    background-color: #e34140;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:white;
}

/*div a.link-name{*/
/*    color:#06c;*/
/*    text-decoration: none;*/
/*}*/

A.nav:link{
    color: #a2a2a2;
    text-decoration: none;
}

A.nav:visited{
    color:#a2a2a2;
    text-decoration: none;
}

A.nav:hover{
    color:#ffffff;
}


A.link-name1:link,A.link-name1:visited{
    color: #ffffff;
    text-decoration: none;
}

/*a:link,a:visited{*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

#img-apple{
    width:17px;
    position: relative;
    top:3px;
    right:6px;
}

/*调整鼠标移到图片上的样式*/
/*A#img-apple:hover{*/
/*    opacity: 1.0;*/
/*}*/

#img-search{
    width:17px;
    position: relative;
    top:3px;
    left:6px;
}
#img-shopping{
    width:17px;
    position: relative;
    top:3px;
    left:8px;
}
.page-one{
    width:auto;
    height:580px;
    background-color:gray;
}
.div-img-tiger{
    width: 70px;
    height: 88px;
    display: block;
    margin:0 auto;
    padding-top: 1%;
}

#img-tiger{
    width: 100%;
    height: auto;
}

/*#img-tiger{*/
/*    display: block;*/
/*    width:70px;*/
/*    margin:0 auto;*/
/*    padding-top: 1%;*/
/*    box-shadow:10px 10px 10px 5px blue;*/
/*}*/
.summary-year{
    text-align: center;
    font-size: 45px;
    margin: 22px 22px 5px;
}
.summary-gift{
    text-align: center;
    font-size: 30px;
    word-spacing: -5px;
    margin:8px auto 10px;
}
.link-shopping{
    display: block;
    text-align: center;
    font-size:21px;
}

A.link-shopping:link,A.link-shopping:visited{
    color:#0066CC;
    text-decoration: none;
}

A.link-shopping:hover{
    color: #0066CC;
    text-decoration: underline;
}
