html{
    font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
div.advertise-background {
    background-color: #444444;
    height: 40px;
    text-align: right;
}

div.advertise {
    font-size: 12px;
    color: #868688;
    line-height: 35px;
    margin-right: 20%;
}

div.hd-background-parent {
    /*background-color: rgba();*/
    background-color: #333;
}
ul.hd-background {
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: 50px;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    overflow: auto;
    width: fit-content;
}

li.link-name {
    /*float: left;*/
    display: inline-block;
    padding: 14px;
}

li.link-name a {
    color: #bdbdbd;
    font-size: 12px;
    text-decoration: none;
}
.tips{
    background-color: #f5f5f7;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/*div a.link-name{*/
/*    color:#06c;*/
/*    text-decoration: none;*/
/*}*/

a:link,a:visited{
    color: #06c;
    text-decoration: none;
}